h3 Weather Icons
  small Static and animated weather themed icons, ready to be dropped right into your project. 

.row
  .col-sm-12
      h4.page-header.mt0 Skycons
    
      - var types = ['clear-day', 'clear-night', 'partly-cloudy-day', 'partly-cloudy-night', 'cloudy', 'rain', 'sleet', 'snow', 'wind', 'fog']
      .row
        - each t in types
          .col-xs-3
            div.center-block(skycon="#{t}", color="#888", width="60", height="60")
            p: code #{t}

h4.page-header Weather Icons

.row
  .col-sm-12
    h4 New v1.3 Icons
.row
  .col-sm-4
    .mb
      .text-md.mr
        em.wi.wi-umbrella           
      span wi-umbrella           
    .mb
      .text-md.mr
        em.wi.wi-day-windy          
      span wi-day-windy          
    .mb
      .text-md.mr
        em.wi.wi-night-alt-cloudy
      span wi-night-alt-cloudy
    .mb
      .text-md.mr
        em.wi.wi-up-left         
      span wi-up-left         
  .col-sm-4
    .mb
      .text-md.mr
        em.wi.wi-down-right      
      span wi-down-right      
    .mb
      .text-md.mr
        em.wi.wi-day-sleet          
      span wi-day-sleet          
    .mb
      .text-md.mr
        em.wi.wi-night-sleet        
      span wi-night-sleet        
    .mb
      .text-md.mr
        em.wi.wi-night-alt-sleet    
      span wi-night-alt-sleet    
  .col-sm-4
    .mb
      .text-md.mr
        em.wi.wi-sleet              
      span wi-sleet              
    .mb
      .text-md.mr
        em.wi.wi-day-haze           
      span wi-day-haze        
.row
  .col-sm-12
    h4 Moon Phases 
.row
  .col-sm-4
    .mb
      .text-md.mr
        em.wi.wi-moon-new             
      span wi-moon-new                  
    .mb
      .text-md.mr
        em.wi.wi-moon-waxing-cresent-1
      span wi-moon-waxing-cresent-1     
    .mb
      .text-md.mr
        em.wi.wi-moon-waxing-cresent-2
      span wi-moon-waxing-cresent-2     
    .mb
      .text-md.mr
        em.wi.wi-moon-waxing-cresent-3
      span wi-moon-waxing-cresent-3     
    .mb
      .text-md.mr
        em.wi.wi-moon-waxing-cresent-4
      span wi-moon-waxing-cresent-4     
    .mb
      .text-md.mr
        em.wi.wi-moon-waxing-cresent-5
      span wi-moon-waxing-cresent-5     
    .mb
      .text-md.mr
        em.wi.wi-moon-waxing-cresent-6
      span wi-moon-waxing-cresent-6     
    .mb
      .text-md.mr
        em.wi.wi-moon-first-quarter   
      span wi-moon-first-quarter        
    .mb
      .text-md.mr
        em.wi.wi-moon-waxing-gibbous-1
      span wi-moon-waxing-gibbous-1     
    .mb
      .text-md.mr
        em.wi.wi-moon-waxing-gibbous-2
      span wi-moon-waxing-gibbous-2     
  .col-sm-4
    .mb
      .text-md.mr
        em.wi.wi-moon-waxing-gibbous-3
      span wi-moon-waxing-gibbous-3     
    .mb
      .text-md.mr
        em.wi.wi-moon-waxing-gibbous-4
      span wi-moon-waxing-gibbous-4     
    .mb
      .text-md.mr
        em.wi.wi-moon-waxing-gibbous-5
      span wi-moon-waxing-gibbous-5     
    .mb
      .text-md.mr
        em.wi.wi-moon-waxing-gibbous-6
      span wi-moon-waxing-gibbous-6     
    .mb
      .text-md.mr
        em.wi.wi-moon-full            
      span wi-moon-full                 
    .mb
      .text-md.mr
        em.wi.wi-moon-waning-gibbous-1
      span wi-moon-waning-gibbous-1     
    .mb
      .text-md.mr
        em.wi.wi-moon-waning-gibbous-2
      span wi-moon-waning-gibbous-2     
    .mb
      .text-md.mr
        em.wi.wi-moon-waning-gibbous-3
      span wi-moon-waning-gibbous-3     
    .mb
      .text-md.mr
        em.wi.wi-moon-waning-gibbous-4
      span wi-moon-waning-gibbous-4     
  .col-sm-4
    .mb
      .text-md.mr
        em.wi.wi-moon-waning-gibbous-5
      span wi-moon-waning-gibbous-5     
    .mb
      .text-md.mr
        em.wi.wi-moon-waning-gibbous-6
      span wi-moon-waning-gibbous-6     
    .mb
      .text-md.mr
        em.wi.wi-moon-3rd-quarter     
      span wi-moon-3rd-quarter          
    .mb
      .text-md.mr
        em.wi.wi-moon-waning-crescent-1
      span wi-moon-waning-crescent-1     
    .mb
      .text-md.mr
        em.wi.wi-moon-waning-crescent-2
      span wi-moon-waning-crescent-2     
    .mb
      .text-md.mr
        em.wi.wi-moon-waning-crescent-3
      span wi-moon-waning-crescent-3     
    .mb
      .text-md.mr
        em.wi.wi-moon-waning-crescent-4
      span wi-moon-waning-crescent-4     
    .mb
      .text-md.mr
        em.wi.wi-moon-waning-crescent-5
      span wi-moon-waning-crescent-5     
    .mb
      .text-md.mr
        em.wi.wi-moon-waning-crescent-6
      span wi-moon-waning-crescent-6     
.row
  .col-sm-12
    h4 Clocks
.row
  .col-sm-4
    .mb
      .text-md.mr
        em.wi.wi-time-12         
      span wi-time-12         
    .mb
      .text-md.mr
        em.wi.wi-time-1          
      span wi-time-1          
    .mb
      .text-md.mr
        em.wi.wi-time-2          
      span wi-time-2          
    .mb
      .text-md.mr
        em.wi.wi-time-3          
      span wi-time-3          
  .col-sm-4
    .mb
      .text-md.mr
        em.wi.wi-time-4          
      span wi-time-4          
    .mb
      .text-md.mr
        em.wi.wi-time-5          
      span wi-time-5          
    .mb
      .text-md.mr
        em.wi.wi-time-6          
      span wi-time-6          
    .mb
      .text-md.mr
        em.wi.wi-time-7          
      span wi-time-7          
  .col-sm-4
    .mb
      .text-md.mr
        em.wi.wi-time-8          
      span wi-time-8          
    .mb
      .text-md.mr
        em.wi.wi-time-9          
      span wi-time-9          
    .mb
      .text-md.mr
        em.wi.wi-time-10         
      span wi-time-10         
    .mb
      .text-md.mr
        em.wi.wi-time-11         
      span wi-time-11         
.row
  .col-sm-12
    h4 Beaufort Wind Scale
.row
  .col-sm-4
    .mb
      .text-md.mr
        em.wi.wi-beafort-0          
      span wi-beafort-0          
    .mb
      .text-md.mr
        em.wi.wi-beafort-1          
      span wi-beafort-1          
    .mb
      .text-md.mr
        em.wi.wi-beafort-2          
      span wi-beafort-2          
    .mb
      .text-md.mr
        em.wi.wi-beafort-3          
      span wi-beafort-3          
    .mb
      .text-md.mr
        em.wi.wi-beafort-4          
      span wi-beafort-4          
  .col-sm-4
    .mb
      .text-md.mr
        em.wi.wi-beafort-5          
      span wi-beafort-5          
    .mb
      .text-md.mr
        em.wi.wi-beafort-6          
      span wi-beafort-6          
    .mb
      .text-md.mr
        em.wi.wi-beafort-7          
      span wi-beafort-7          
    .mb
      .text-md.mr
        em.wi.wi-beafort-8          
      span wi-beafort-8          
    .mb
      .text-md.mr
        em.wi.wi-beafort-9          
      span wi-beafort-9          
  .col-sm-4
    .mb
      .text-md.mr
        em.wi.wi-beafort-10         
      span wi-beafort-10         
    .mb
      .text-md.mr
        em.wi.wi-beafort-11         
      span wi-beafort-11         
    .mb
      .text-md.mr
        em.wi.wi-beafort-12         
      span wi-beafort-12         
.row
  .col-sm-12
    h4 Wind Directions - 0 degrees through 345 degrees
    p
      | Wind direction icons use CSS3 tranform to rotate. Choose your interpretation; point to the wind source, or point in the wind direction. Example: pointing to an east wind would be wi-wind-default _90-deg, but pointing in the direction of an east wind would be wi-wind-default _270deg. This should give everyone the felxibility they need without having alias names or 24 separate glyphs.
.row
  .col-sm-4
    .mb
      .text-md.mr
        em.wi.wi-wind-default._0-deg
      span wi-wind-default _0-deg
    .mb
      .text-md.mr
        em.wi.wi-wind-default._15-deg
      span wi-wind-default _15-deg
    .mb
      .text-md.mr
        em.wi.wi-wind-default._30-deg
      span wi-wind-default _30-deg
    .mb
      .text-md.mr
        em.wi.wi-wind-default._45-deg
      span wi-wind-default _45-deg
    .mb
      .text-md.mr
        em.wi.wi-wind-default._60-deg
      span wi-wind-default _60-deg
    .mb
      .text-md.mr
        em.wi.wi-wind-default._75-deg
      span wi-wind-default _75-deg
    .mb
      .text-md.mr
        em.wi.wi-wind-default._90-deg
      span wi-wind-default _90-deg
    .mb
      .text-md.mr
        em.wi.wi-wind-default._105-deg
      span wi-wind-default _105-deg
  .col-sm-4
    .mb
      .text-md.mr
        em.wi.wi-wind-default._120-deg
      span wi-wind-default _120-deg
    .mb
      .text-md.mr
        em.wi.wi-wind-default._135-deg
      span wi-wind-default _135-deg
    .mb
      .text-md.mr
        em.wi.wi-wind-default._150-deg
      span wi-wind-default _150-deg
    .mb
      .text-md.mr
        em.wi.wi-wind-default._165-deg
      span wi-wind-default _165-deg
    .mb
      .text-md.mr
        em.wi.wi-wind-default._180-deg
      span wi-wind-default _180-deg
    .mb
      .text-md.mr
        em.wi.wi-wind-default._195-deg
      span wi-wind-default _195-deg
    .mb
      .text-md.mr
        em.wi.wi-wind-default._210-deg
      span wi-wind-default _210-deg
    .mb
      .text-md.mr
        em.wi.wi-wind-default._225-deg
      span wi-wind-default _225-deg
  .col-sm-4
    .mb
      .text-md.mr
        em.wi.wi-wind-default._240-deg
      span wi-wind-default _240-deg
    .mb
      .text-md.mr
        em.wi.wi-wind-default._255-deg
      span wi-wind-default _255-deg
    .mb
      .text-md.mr
        em.wi.wi-wind-default._270-deg
      span wi-wind-default _270-deg
    .mb
      .text-md.mr
        em.wi.wi-wind-default._285-deg
      span wi-wind-default _285-deg
    .mb
      .text-md.mr
        em.wi.wi-wind-default._300-deg
      span wi-wind-default _300-deg
    .mb
      .text-md.mr
        em.wi.wi-wind-default._315-deg
      span wi-wind-default _315-deg
    .mb
      .text-md.mr
        em.wi.wi-wind-default._330-deg
      span wi-wind-default _330-deg
    .mb
      .text-md.mr
        em.wi.wi-wind-default._345-deg
      span wi-wind-default _345-deg
.row
  .col-sm-12
    h4 New v1.2 
.row
  .col-sm-4
    .mb
      .text-md.mr
        em.wi.wi-smoke
      span wi-smoke
    .mb
      .text-md.mr
        em.wi.wi-dust
      span wi-dust
    .mb
      .text-md.mr
        em.wi.wi-snow-wind
      span wi-snow-wind
    .mb
      .text-md.mr
        em.wi.wi-day-snow-wind
      span wi-day-snow-wind
    .mb
      .text-md.mr
        em.wi.wi-night-snow-wind
      span wi-night-snow-wind
    .mb
      .text-md.mr
        em.wi.wi-night-alt-snow-wind
      span wi-night-alt-snow-wind
    .mb
      .text-md.mr
        em.wi.wi-day-sleet-storm
      span wi-day-sleet-storm
    .mb
      .text-md.mr
        em.wi.wi-night-sleet-storm
      span wi-night-sleet-storm
  .col-sm-4
    .mb
      .text-md.mr
        em.wi.wi-night-alt-sleet-storm
      span wi-night-alt-sleet-storm
    .mb
      .text-md.mr
        em.wi.wi-day-snow-thunderstorm
      span wi-day-snow-thunderstorm
    .mb
      .text-md.mr
        em.wi.wi-night-snow-thunderstorm
      span wi-night-snow-thunderstorm
    .mb
      .text-md.mr
        em.wi.wi-night-alt-snow-thunderstorm
      span wi-night-alt-snow-thunderstorm
    .mb
      .text-md.mr
        em.wi.wi-solar-eclipse
      span wi-solar-eclipse
    .mb
      .text-md.mr
        em.wi.wi-lunar-eclipse
      span wi-lunar-eclipse
    .mb
      .text-md.mr
        em.wi.wi-meteor
      span wi-meteor
    .mb
      .text-md.mr
        em.wi.wi-hot
      span wi-hot
  .col-sm-4
    .mb
      .text-md.mr
        em.wi.wi-hurricane
      span wi-hurricane          
    .mb
      .text-md.mr
        em.wi.wi-smog
      span wi-smog
    .mb
      .text-md.mr
        em.wi.wi-alien
      span wi-alien
    .mb
      .text-md.mr
        em.wi.wi-snowflake-cold
      span wi-snowflake-cold
    .mb
      .text-md.mr
        em.wi.wi-stars
      span wi-stars
    .mb
      .text-md.mr
        em.wi.wi-night-partly-cloudy
      span night-partly-cloudy
.row
  .col-sm-12
    h4 Day / Sunny
.row
  .col-sm-4
    .mb
      .text-md.mr
        em.wi.wi-day-cloudy-gusts
      span wi-day-cloudy-gusts
    .mb
      .text-md.mr
        em.wi.wi-day-cloudy-windy
      span wi-day-cloudy-windy
    .mb
      .text-md.mr
        em.wi.wi-day-cloudy
      span wi-day-cloudy
    .mb
      .text-md.mr
        em.wi.wi-day-fog
      span wi-day-fog
    .mb
      .text-md.mr
        em.wi.wi-day-hail
      span wi-day-hail
    .mb
      .text-md.mr
        em.wi.wi-day-lightning
      span wi-day-lightning
  .col-sm-4
    .mb
      .text-md.mr
        em.wi.wi-day-rain-mix
      span wi-day-rain-mix
    .mb
      .text-md.mr
        em.wi.wi-day-rain-wind
      span wi-day-rain-wind
    .mb
      .text-md.mr
        em.wi.wi-day-rain
      span wi-day-rain
    .mb
      .text-md.mr
        em.wi.wi-day-showers
      span wi-day-showers
    .mb
      .text-md.mr
        em.wi.wi-day-snow
      span wi-day-snow
    .mb
      .text-md.mr
        em.wi.wi-day-sprinkle
      span wi-day-sprinkle
  .col-sm-4
    .mb
      .text-md.mr
        em.wi.wi-day-sunny-overcast
      span wi-day-sunny-overcast
    .mb
      .text-md.mr
        em.wi.wi-day-sunny
      span wi-day-sunny
    .mb
      .text-md.mr
        em.wi.wi-day-storm-showers
      span wi-day-storm-showers
    .mb
      .text-md.mr
        em.wi.wi-day-thunderstorm
      span wi-day-thunderstorm
.row
  .col-sm-12
    h4 Neutral / Cloudy
.row
  .col-sm-4
    .mb
      .text-md.mr
        em.wi.wi-cloudy-gusts
      span wi-cloudy-gusts
    .mb
      .text-md.mr
        em.wi.wi-cloudy-windy
      span wi-cloudy-windy
    .mb
      .text-md.mr
        em.wi.wi-cloudy
      span wi-cloudy
    .mb
      .text-md.mr
        em.wi.wi-fog
      span wi-fog
    .mb
      .text-md.mr
        em.wi.wi-hail
      span wi-hail
  .col-sm-4
    .mb
      .text-md.mr
        em.wi.wi-lightning
      span wi-lightning
    .mb
      .text-md.mr
        em.wi.wi-rain-mix
      span wi-rain-mix
    .mb
      .text-md.mr
        em.wi.wi-rain-wind
      span wi-rain-wind
    .mb
      .text-md.mr
        em.wi.wi-rain
      span wi-rain
    .mb
      .text-md.mr
        em.wi.wi-showers
      span wi-showers
  .col-sm-4
    .mb
      .text-md.mr
        em.wi.wi-snow
      span wi-snow
    .mb
      .text-md.mr
        em.wi.wi-sprinkle
      span wi-sprinkle
    .mb
      .text-md.mr
        em.wi.wi-storm-showers
      span wi-storm-showers
    .mb
      .text-md.mr
        em.wi.wi-thunderstorm
      span wi-thunderstorm
.row
  .col-sm-12
    h4 Night / Moons
.row
  .col-sm-4
    .mb
      .text-md.mr
        em.wi.wi-night-alt-cloudy-gusts
      span wi-night-alt-cloudy-gusts
    .mb
      .text-md.mr
        em.wi.wi-night-alt-cloudy-windy
      span wi-night-alt-cloudy-windy
    .mb
      .text-md.mr
        em.wi.wi-night-alt-hail
      span wi-night-alt-hail
    .mb
      .text-md.mr
        em.wi.wi-night-alt-lightning
      span wi-night-alt-lightning
    .mb
      .text-md.mr
        em.wi.wi-night-alt-rain-mix
      span wi-night-alt-rain-mix
    .mb
      .text-md.mr
        em.wi.wi-night-alt-rain-wind
      span wi-night-alt-rain-wind
    .mb
      .text-md.mr
        em.wi.wi-night-alt-rain
      span wi-night-alt-rain
    .mb
      .text-md.mr
        em.wi.wi-night-alt-showers
      span wi-night-alt-showers
    .mb
      .text-md.mr
        em.wi.wi-night-alt-snow
      span wi-night-alt-snow
  .col-sm-4
    .mb
      .text-md.mr
        em.wi.wi-night-alt-sprinkle
      span wi-night-alt-sprinkle
    .mb
      .text-md.mr
        em.wi.wi-night-alt-storm-showers
      span wi-night-alt-storm-showers
    .mb
      .text-md.mr
        em.wi.wi-night-alt-thunderstorm
      span wi-night-alt-thunderstorm
    .mb
      .text-md.mr
        em.wi.wi-night-clear
      span wi-night-clear
    .mb
      .text-md.mr
        em.wi.wi-night-cloudy-gusts
      span wi-night-cloudy-gusts
    .mb
      .text-md.mr
        em.wi.wi-night-cloudy-windy
      span wi-night-cloudy-windy
    .mb
      .text-md.mr
        em.wi.wi-night-cloudy
      span wi-night-cloudy
    .mb
      .text-md.mr
        em.wi.wi-night-hail
      span wi-night-hail
    .mb
      .text-md.mr
        em.wi.wi-night-lightning
      span wi-night-lightning
  .col-sm-4
    .mb
      .text-md.mr
        em.wi.wi-night-rain-mix
      span wi-night-rain-mix
    .mb
      .text-md.mr
        em.wi.wi-night-rain-wind
      span wi-night-rain-wind
    .mb
      .text-md.mr
        em.wi.wi-night-rain
      span wi-night-rain
    .mb
      .text-md.mr
        em.wi.wi-night-showers
      span wi-night-showers
    .mb
      .text-md.mr
        em.wi.wi-night-snow
      span wi-night-snow
    .mb
      .text-md.mr
        em.wi.wi-night-sprinkle
      span wi-night-sprinkle
    .mb
      .text-md.mr
        em.wi.wi-night-storm-showers
      span wi-night-storm-showers
    .mb
      .text-md.mr
        em.wi.wi-night-thunderstorm
      span wi-night-thunderstorm
.row
  .col-sm-12
    h4 Miscellaneous Weather 
.row
  .col-sm-4
    .mb
      .text-md.mr
        em.wi.wi-celsius
      span wi-celsius
    .mb
      .text-md.mr
        em.wi.wi-cloud-down
      span wi-cloud-down
    .mb
      .text-md.mr
        em.wi.wi-cloud-refresh
      span wi-cloud-refresh
    .mb
      .text-md.mr
        em.wi.wi-cloud-up
      span wi-cloud-up
    .mb
      .text-md.mr
        em.wi.wi-cloud
      span wi-cloud
    .mb
      .text-md.mr
        em.wi.wi-degrees
      span wi-degrees
    .mb
      .text-md.mr
        em.wi.wi-down-left
      span wi-down-left
    .mb
      .text-md.mr
        em.wi.wi-down
      span wi-down
    .mb
      .text-md.mr
        em.wi.wi-fahrenheit
      span wi-fahrenheit
    .mb
      .text-md.mr
        em.wi.wi-horizon-alt
      span wi-horizon-alt
  .col-sm-4
    .mb
      .text-md.mr
        em.wi.wi-horizon
      span wi-horizon
    .mb
      .text-md.mr
        em.wi.wi-left
      span wi-left
    .mb
      .text-md.mr
        em.wi.wi-lightning
      span wi-lightning
    .mb
      .text-md.mr
        em.wi.wi-night-fog
      span wi-night-fog
    .mb
      .text-md.mr
        em.wi.wi-refresh-alt
      span wi-refresh-alt
    .mb
      .text-md.mr
        em.wi.wi-refresh
      span wi-refresh
    .mb
      .text-md.mr
        em.wi.wi-right
      span wi-right
    .mb
      .text-md.mr
        em.wi.wi-sprinkles
      span wi-sprinkles
    .mb
      .text-md.mr
        em.wi.wi-strong-wind
      span wi-strong-wind
    .mb
      .text-md.mr
        em.wi.wi-sunrise
      span wi-sunrise
  .col-sm-4
    .mb
      .text-md.mr
        em.wi.wi-sunset
      span wi-sunset
    .mb
      .text-md.mr
        em.wi.wi-thermometer-exterior
      span wi-thermometer-exterior
    .mb
      .text-md.mr
        em.wi.wi-thermometer-internal
      span wi-thermometer-internal
    .mb
      .text-md.mr
        em.wi.wi-thermometer
      span wi-thermometer
    .mb
      .text-md.mr
        em.wi.wi-tornado
      span wi-tornado
    .mb
      .text-md.mr
        em.wi.wi-up-right
      span wi-up-right
    .mb
      .text-md.mr
        em.wi.wi-up
      span wi-up
    .mb
      .text-md.mr
        em.wi.wi-windy
      span wi-windy
