//
   Created by zppro on 16-3-30.

h4
    //| {{ vm.viewTranslatePath('TITLE') | translate}}
    | {{ vmh.stateToTrans($state.current.name) +'.TITLE'|translate}}
    span.org-name.pull-right  {{ vmh.subSystemToTrans($state.current.name) +'.HEAD-ORG-NAME'|translate}}