h3.text-center.text-thin 目标
.col-xs-12
    ul.list-unstyled.workitem

        li.text-info 代理体系
        li.text-info 手动月结(等待测试)
        li.text-info 修复租户订单修改时切换租户无法展现树的bug
        li.text-info 租户-收费项目自定义
        li.text-info 租户-系统管理-部门管理
        li.text-info 考虑修改房间信息对已有房间入住情况和床位状态的影响
        li.text-info 老人入院后增加到老人档案租户自定义部分
        li.text-info 考虑房间入住情况,床位状态
        li.text-info 实体entity 明细界面出现多个子grid=>subGrid(功能：model只读及分页,增删改查)










