h3.text-center.text-thin 目标达成
.col-xs-12
    ul.list-unstyled.workitem
        li.finished.text-success dashboard实现[入住总人数,本月新增,入住总人次,主账户,政府补助账户,社会捐赠账户,床位总数,占用数,床位空置率,入住老人年龄分布,近期入住情况,入住房型情况,近期入住房型情况]
        li.finished.text-success 微型机构不需要时间约束，但是收入住老人限额约束目前定额为入住20个老人无限期
        li.finished.text-success 自定义收费项目及其更改引起的资金变化(2016.7.13-2016.7.18)
        li.finished.text-success 老人外出、访客接待(2016.7.8-2016.7.12)
        li.finished.text-success 财务冲红(2016.7.5-2016.7.7)
        li.finished.text-success 自动月结计划任务(2016.7.4)
        li.finished.text-success 重构记账系统，使记账凭证跟着业务,账户充值撤销和修改。(2016.7.1-2016.7.3)
        li.finished.text-success 财务记账增加凭证号，后端支持序列,修改所有记账，使支持记账凭证(2016.6.29-2016.6.30)
        li.finished.text-success 老人账户充值(2016.6.27-2016.6.28)
        li.finished.text-success 老人出院手续 复制一些出院老人的快照到出院记录中备查(2016.6.24)
        li.finished.text-success 老人出院手续确认完成出院时执行退房(2016.6.22-2016.6.23)
        li.finished.text-success 老人出院手续之出院结算的审核功能完成，列表、结帐.(2016.6.19-2016.6.21)
        li.finished.text-success 老人出院手续之物品归还的审核功能完成，独立列表功能物资管理->出院物品归还（2016.6.15-2016.6.18）
        li.finished.text-success 老人出院手续申请(2016.6.14-2016.6.15)
        li.finished.text-success 在院切换房间等的确认对话框(2016.6.13)
        li.finished.text-success 修改老人饮食套餐、护理信息及房间床位(2016.6.2-2016.6.8)
        li.finished.text-success 实体entity 明细界面出现多个子grid=>subGrid(功能：非model只读及分页)(2016.6.1)
        li.finished.text-success 验证promise.then链的promise.all的value传递（2016.5.31）
        li.finished.text-success 未确认入院时撤销到编辑状态并且可以在编辑时view=details删除（2016.5.30）
        li.finished.text-success 输入身份证自动载入老人信息判断该身份证的老人是否能新增入院（2016.5.30）
        li.finished.text-success 删除处于编辑状态的入院记录（2016.5.26-2016.5.30）
        li.finished.text-success 新增修改入院记录时，考虑只能选择空闲的床位（2016.5.26-2016.5.30）
        li.finished.text-success 读取文件夹结构，并动态require（2016.5.25-2016.5.26）
        li.finished.text-success 增加房间入住历史 最后确认入院->入院成功，考虑增加缴费流水,明细账(2016.5.19-2016.5.24)
        li.finished.text-success 老人入院记录删除(仅在为提交财务审核时可以删除),老人入院提交财务审核及财务确认收款，树增加readonly(2016.5.18)
        li.finished.text-success 老人入院后增加到老人档案(2016.5.10-2016.5.17)
        li.finished.text-success 老人入院记录增改查（收费项目勾选）(2016.5.10-2016.5.17)
        li.finished.text-success 租户-收费标准(2016.5.6-2016.5.9)
        li.finished.text-success 树增加平铺布局(2016.5.3-2016.5.5)
        li.finished.text-success 树增加导航布局(2016.4.28-2016.4.29)
        li.finished.text-success 树重构并支持标签构建(2016.4.25-2016.4.27)
        li.finished.text-success box-input类似支付密码输入框directive(2016.4.23)
        li.finished.text-success 了解mongoose的middleware几个重要方法(2016.4.22)
        li.finished.text-success 重构-Node端增加debug-services，内放调试用服务(2016.4.21)
        li.finished.text-success 重构-应用路由拆为按多个子系统分离的代码文件(2016.4.20)
        li.finished.text-success 租户-系统管理-用户管理(2016.4.20)
        li.finished.text-success 重构-树获取方式改为tmg,tmp(2016.4.19)
        li.finished.text-success 租户-系统管理-房间增删改查(2016.4.19)
        li.finished.text-success 租户-系统管理-片区增删改查(2016.4.19)
        li.finished.text-success 增加diable基本动作即将status=0(2016.4.19)
        li.finished.text-success 重构订单系统，修复多个订单带来的开通和退款问题(2016.4.18)
        li.finished.text-success 管理中心重设用户密码(2016.4.15)
        li.finished.text-success 用户修改密码(2016.4.15)
        li.finished.text-success 菜单权限判断open_funcs中某个func.payed和expired_on(2016.4.14)
        li.finished.text-success 登录判断validate_util(2016.4.14)
        li.finished.text-success 订单详情中显示订单状态并增加订单查看视图(2016.4.14)
        li.finished.text-success 交易成功后的发起退款并由财务退款确认(2016.4.14)
        li.finished.text-success 增加下单时间和开通时间(2016.4.13)
        li.finished.text-success 完成订单订单状态改为交易成功,更新tenant.open_funcs.payed和expired_on(2016.4.13)
        li.finished.text-success 财务收款确认(2016.4.13)
        li.finished.text-success 租户订单载入自动选中(2016.4.12)
        li.finished.text-success 租户订单载入提交(2016.4.12)
        li.finished.text-success 租户订单增加删除(2016.4.11-12)
        li.finished.text-success 租户设置模块(2016.4.8)
        li.finished.text-success 模块价格定义(2016.4.7)
        li.finished.text-success 指定租户下的用户实现增删改查(2016.4.5)
        li.finished.text-success 按照不同租户进行用户查询(2016.4.2)
        li.finished.text-success 树选择不同节点刷新不同state(2016.4.2)
        li.finished.text-success 树控件载入后自动check(2016.4.2)
        li.finished.text-success 根据_id选择树节点(2016.4.2)
        li.finished.text-success 树控件自动选择触发tree:node:select事件(2016.4.2)
        li.finished.text-success 树控件载入后自动选中(2016.4.1)
        li.finished.text-success 树控件选择事件onNodeSelect(2016.4.1)
        li.finished.text-success 树控件基本功能(2016.3.31)
        li.finished.text-success 服务端分页(2016.3.25)
        li.finished.text-success 后端数据重复性检查(2016.3.24)
        li.finished.text-success 切换子系统时菜单打开(2016.3.24)
        li.finished.text-success 保存成功时提醒notify(2016.3.24)
        li.finished.text-success 删除时没有选中任何记录时提醒notify(2016.3.24)
        li.finished.text-success 后端存取数据（2016.3.22-3.23）
        li.finished.text-success 删除刷新
        li.finished.text-success 详情页面载入
        li.finished.text-success 目标：编辑（点击或者双击行）
        li.finished.text-success 单击行checkbox选中