//这里是ng-template
script(type="text/ng-template", id="removeConfirmDialog.html")
    div
        h4.mt0 {{'dialog.remove.TITLE'|translate}}
        p
            | {{'dialog.remove.MESSAGE'|translate}}
    .text-center
        button.btn.btn-danger.mr(type='button', ng-click='confirm("ok")') {{'button.CONFIRM'|translate}}
        button.btn.btn-default(type='button', ng-click="closeThisDialog('cancel')") {{'button.CANCEL'|translate}}
script(type="text/ng-template", id="normalConfirmDialog.html")
    div
        h4.mt0 {{'dialog.normal.TITLE'|translate}}
        p
            | {{'dialog.normal.MESSAGE'|translate}}
        p.text-info(ng-if="dialogData.details")
            | {{dialogData.details}}
    .text-center
        button.btn.btn-warning.mr(type='button', ng-click='confirm("ok")') {{'button.CONFIRM'|translate}}
        button.btn.btn-default(type='button', ng-click="closeThisDialog('cancel')") {{'button.CANCEL'|translate}}
script(type="text/ng-template", id="customConfirmDialog.html")
    div
        h4.mt0 {{'dialog.normal.TITLE'|translate}}
        p
            | {{message|translate}}
    .text-center
        button.btn.btn-warning.mr(type='button', ng-click='confirm("ok")') {{'button.CONFIRM'|translate}}
        button.btn.btn-default(type='button', ng-click="closeThisDialog('cancel')") {{'button.CANCEL'|translate}}
script(type='text/ng-template', id="tree-directive-default-renderer.html")
    .ul-container
        ul
            li(ng-repeat='node in $tree.treeData',ng-include="'tree-directive-default-node-renderer.html'",ng-init="nIndex = $index;")
script(type='text/ng-template', id="tree-directive-default-node-renderer.html")
    .tree-node.no-select(s-tree-node)
        i(ng-if="node.children",class="fa",ng-class="{'fa-caret-right':!$tree.isExpanded(nIndex),'fa-caret-down':$tree.isExpanded(nIndex)}",ng-click="$tree.toggle(nIndex,$event)")
        i(ng-if="!node.children",class="fa",ng-class="{'fa-caret-right':$tree.mode=='grid'}")
        .checkbox.c-checkbox(ng-if="$tree.mode=='check'")
            label
                input(type='checkbox',ng-click="$tree.toggleCheck(node,$event)",ng-model="$tree.inputCheckedIndex[nIndex]")
                span.fa.fa-check(ng-class="{'undetermined':$tree.isUndetermined(nIndex)}")
        i(class="{{node.icon}}", ng-if="node.icon")
        span {{node.name}}
        span(ng-if="node.template" ng-include="node.template")
    ul(ng-if="node.children",ng-show="$tree.isExpanded(nIndex)")
        li(ng-repeat='node in node.children',ng-include="'tree-directive-default-node-renderer.html'",ng-init="nIndex = (nIndex+$tree.levelSplitChar+$index)")
script(type='text/ng-template', id="tree-basic-renderer.html")
    .tree-node.no-select(tree-index="{{tIndex}}",node-index="{{nIndex}}",node-id="{{node._id}}",support-pre-select-or-check,ng-click="vm.trees[tIndex].select(node,$event)",ng-dblclick="vm.trees[tIndex].toggle(nIndex,$event)",ng-init="vm.trees[tIndex].addIndex(nIndex)")
        i(ng-if="node.children",class="fa",ng-class="{'fa-caret-right':!vm.trees[tIndex].isExpanded(nIndex),'fa-caret-down':vm.trees[tIndex].isExpanded(nIndex)}",ng-click="vm.trees[tIndex].toggle(nIndex,$event)")
        i(ng-if="!node.children",class="fa",ng-class="{'fa-caret-right':vm.trees[tIndex].mode=='grid'}")
        .checkbox.c-checkbox(ng-if="vm.trees[tIndex].mode=='check'")
            label
                input(type='checkbox',ng-click="vm.trees[tIndex].toggleCheck(nIndex,$event)",ng-model="vm.trees[tIndex].inputCheckedIndex[nIndex]")
                span.fa.fa-check(ng-class="{'undetermined':vm.trees[tIndex].isUndetermined(nIndex)}")
        i(class="{{node.icon}}", ng-if="node.icon")
        span {{node.name}}
        span(ng-if="node.template",ng-include="node.template")
    ul(ng-if="node.children",ng-show="vm.trees[tIndex].isExpanded(nIndex)")
        li(ng-repeat='node in node.children',ng-include="'tree-basic-renderer.html'",ng-init="nIndex = (nIndex+vm.trees[tIndex].levelSplitChar+$index)")
script(type="text/ng-template", id="changePasswordByUser.html")
    form.form-validate.mb-lg(role='form', name="theForm", novalidate='', ng-submit="vm.doSubmit()")
        .ngdialog-message
            h3.mt0 {{ 'sidebar.reset-password.TITLE' | translate}}
        .ngdialog-input
                .row
                    label.col-md-3.control-label {{ 'sidebar.reset-password.LABEL-OLD-PASSWORD' | translate}}:
                    .col-md-9
                        input(type='password', name='old_password',ng-model='vm.model.old_password',placeholder='{{"sidebar.reset-password.PLACEHOLDER-OLD-PASSWORD"|translate}}' ,required='')
                        span.text-danger(ng-show="utils.vinput(this.theForm,'old_password','required')") {{ "validator.REQUIRED" | translate}}
                .row-split
                .row
                    label.col-md-3.control-label {{ 'sidebar.reset-password.LABEL-NEW-PASSWORD' | translate}}:
                    .col-md-9
                        input.form-control(type='password', name='new_password',ng-model='vm.model.new_password',placeholder='{{"sidebar.reset-password.PLACEHOLDER-NEW-PASSWORD"|translate}}' ,required='',ng-pattern="/^[a-zA-Z0-9]{6,10}$/",ui-validate="{'not-equal-old-password': '$value!=vm.model.old_password'}",ui-validate-watch="'vm.model.old_password'")
                        span.text-danger(ng-show="utils.vinput(this.theForm,'new_password','required')") {{ "validator.REQUIRED" | translate}}
                        span.text-danger(ng-show="utils.vinput(this.theForm,'new_password','pattern')") {{ "validator.PASSWORD-FORMAT" | translate}}
                        span.text-danger(ng-show="utils.vinput(this.theForm,'new_password','not-equal-old-password')") {{ "validator.PASSWORD-NEED-CHANGED" | translate}}
                .row-split
                .row
                    label.col-md-3.control-label {{ 'sidebar.reset-password.LABEL-RE-NEW-PASSWORD' | translate}}:
                    .col-md-9
                        input.form-control(type='password', name='re_new_password',ng-model='vm.model.re_new_password',placeholder='{{"sidebar.reset-password.PLACEHOLDER-RE-NEW-PASSWORD"|translate}}' ,required='',ng-model-options="{debounce:500}",ui-validate="{'re-password-match': '$value==vm.model.new_password'}",ui-validate-watch="'vm.model.new_password'")
                        span.text-danger(ng-show="utils.vinput(this.theForm,'re_new_password','required')") {{ "validator.REQUIRED" | translate}}
                        span.text-danger(ng-show="utils.vinput(this.theForm,'re_new_password','re-password-match')") {{ "validator.PASSWORD-MATCH" | translate}}
                .row-split
                .row(ng-show='vm.errorMsg')
                    .col-md-2
                    .col-md-8.alert.alert-danger.text-center {{vm.errorMsg}}
                    .col-md-2
        .ngdialog-buttons
            .row
                .col-md-9
                .col-md-3
                    button.btn.btn-success(type='submit') {{ "button.SAVE" | translate}}
script(type='text/ng-template', id="tree-room-tile-renderer.html")
    .ul-container
        ul
            li(ng-repeat='node in $tree.treeData',ng-include="'tree-room-tile-district-renderer.html'",ng-init="nIndex = $index;")
script(type='text/ng-template', id="tree-room-tile-district-renderer.html")
    .tree-group.no-select(s-tree-node)
        .tree-group-head.cascade-selectable
            i(class="{{node.icon}}", ng-if="node.icon")
            span {{node.name}}
            span(ng-if="node.template" ng-include="node.template")
        ul.tree-group-content(ng-if="node.children",ng-show="$tree.isExpanded(nIndex)")
            li(ng-repeat='node in node.children',ng-include="'tree-room-tile-floor-renderer.html'",ng-init="nIndex = (nIndex+$tree.levelSplitChar+$index)")
script(type='text/ng-template', id="tree-room-tile-floor-renderer.html")
    .tree-group.row.no-select(s-tree-node)
        .col-md-1.tree-item.cascade-selectable
            .vertical-middle.floor
                span {{node.name}}
        .col-md-11.tree-item-children
            ul(ng-if="node.children",ng-show="$tree.isExpanded(nIndex)")
                li(ng-repeat='node in node.children',ng-include="'tree-room-tile-room-renderer.html'",ng-init="nIndex = (nIndex+$tree.levelSplitChar+$index);roomCapacity=node.capacity")
script(type='text/ng-template', id="tree-room-tile-room-renderer.html")
    .tree-group.no-select(s-tree-node)
        .tree-sub-item.room-head.cascade-selectable
            span {{node.name}}
        ul.room-body
            li(ng-class="{'single-bed':roomCapacity==1,'double-beds':roomCapacity>1 && roomCapacity<3,'four-beds':roomCapacity>=3 && roomCapacity<5,'six-beds':roomCapacity>=5 && roomCapacity<7}",ng-repeat='node in node.children',ng-include="'tree-room-tile-bed-renderer.html'",ng-init="nIndex = (nIndex+$tree.levelSplitChar+$index)")
script(type='text/ng-template', id="tree-room-tile-bed-renderer.html")
    .tree-node.room-bed.parent-cascade-select(s-tree-node,ng-class='{"disabled":node.props.disabled }',title="{{$tree.treeNodeFunc(node)}}") {{roomCapacity == 1 ? '单间' : node.name}}
        .elderly-name(ng-if="node.props.disabled") {{$tree.treeNodeFunc(node)}}