//
   Created by zppro on 16-2-23.

h3
   | {{ 'dashboard.WELCOME' | translate:{ appName: app.name } }}  !

.row
   .col-xs-12.text-center
      h2.text-thin 数据面板
      p 数据块1.
         br
         | 数据块1内容段
