//
   Created by zppro on 16-5-6.

.col-xs-2.col-fixed
   .row.btn-group
      label.btn.btn-primary(ng-repeat='standard in vm.selectBinding.standards',ng-model='vm.selectedStandardId',btn-radio="standard._id",ng-change="vm.onStandardChanged()") {{standard.name}}
   .row
      .tree.tree-basic(ng-if='!vm.treeHidden',s-tree,s-tree-data="vm.chargeItemDataPromise",s-tree-height="vm.size.h-25", s-tree-template-url='tree-directive-default-renderer.html',s-tree-option="{mode:'check',checkCascade: true,selectNodeFormat:'object'}",ng-model="vm.checkedChargeItems")
.col-xs-10
   .row.row-fixed
      .col-xs-1
         button.btn.btn-success(ng-click="vm.saveChargeStandard()") {{'button.SAVE'|translate}}
   .row-split
   .row.row-fixed
      .charge-standard
         ul
            li.header
               label.col-md-3 {{vm.moduleTranslatePath("HEADER-ITEM_NAME")|translate}}
               label.col-md-1 {{vm.moduleTranslatePath("HEADER-PERIOD_PRICE")|translate}}
               label.col-md-5.text-center {{vm.moduleTranslatePath("HEADER-PRICER")|translate}}
               label.col-md-3 {{vm.moduleTranslatePath("HEADER-PERIOD")|translate}}
            li.repeat-modify(ng-repeat='node in vm.checkedChargeItems',ng-init="vm.createChargeItem(node)")
               .col-md-3.charge-item {{node.name}}:
               .col-md-1.charge-item
                  .input-group
                     span ￥
                     input(type='number',ng-model='vm.charges[node._id].period_price')
               .col-md-5
                  rzslider(rz-slider-model='vm.charges[node._id].period_price',rz-slider-options="vm.slider.options")
               .col-md-3.charge-item
                  .dropdown(s-dropdown,is-button,ng-model="vm.charges[node._id].period",s-dropdown-data="vm.dropdownDataPromise")