// START widgets box
.row
   .col-lg-3.col-sm-6
      // START widget
      .panel.widget.bg-primary
         .row.row-table
            .col-xs-4.text-center.bg-primary-dark.pv-lg
               em.icon-user.fa-3x
            .col-xs-8.pv-lg
               .h2.mt0 {{vm.liveinAndAccountAndBedInfo.liveIn}}
               | {{ vm.moduleTranslatePath('LIVE-IN') | translate}}
   .col-lg-3.col-sm-6
      // START widget
      .panel.widget.bg-purple
         .row.row-table
            .col-xs-4.text-center.bg-purple-dark.pv-lg
               em.icon-user-follow.fa-3x
            .col-xs-8.pv-lg
               .h2.mt0 {{vm.liveinAndAccountAndBedInfo.liveInOnCurrentMonth}}
               | {{ vm.moduleTranslatePath('LIVE-IN-ON-CURRENTMONTH') | translate}}
   .col-lg-3.col-md-6.col-sm-12
      // START widget
      .panel.widget.bg-green
         .row.row-table
            .col-xs-4.text-center.bg-green-dark.pv-lg
               em.icon-users.fa-3x
            .col-xs-8.pv-lg
               .h2.mt0 {{vm.liveinAndAccountAndBedInfo.liveInManTime}}
               | {{ vm.moduleTranslatePath('LIVE-IN-MAN-TIME') | translate}}
   .col-lg-3.col-md-6.col-sm-12
      // START date widget
      .panel.widget
         .row.row-table
            .col-xs-4.text-center.bg-green.pv-lg
               // See formats: https://docs.angularjs.org/api/ng/filter/date
               now.text-sm(format='MMMM')
               br
               now.h2.mt0(format="d")
            .col-xs-8.pv-lg
               now(format='EEEE')
               br
               now.h2.mt0(format='h:mm')
               now.text-muted.text-sm(format='a')
      // END date widget
// END widgets box

// START widgets 2
.row
   .col-lg-6
      .panel.widget
         .row.row-table.text-center
            .col-md-2.col-sm-3.col-xs-6.bg-info.pv-xl
               em.fa-rmb.fa.fa-4x
            .col-md-4.col-sm-3.col-xs-6.pv.br
               .h1.m0.text-bold.text-primary {{vm.liveinAndAccountAndBedInfo.account.self}}
               | {{ vm.moduleTranslatePath('SUBSIDIARY_LEDGER-SELF') | translate}}
            .col-md-3.col-sm-3.col-xs-6.pv.br
               .h1.m0.text-bold.text-primary {{vm.liveinAndAccountAndBedInfo.account.gov_subsidy}}
               | {{ vm.moduleTranslatePath('SUBSIDIARY_LEDGER-GOV_SUBSIDY') | translate}}
            .col-md-3.col-sm-3.col-xs-6.pv.br
               .h1.m0.text-bold.text-primary {{vm.liveinAndAccountAndBedInfo.account.social_donation}}
               | {{ vm.moduleTranslatePath('SUBSIDIARY_LEDGER-SOCIAL_DONATION') | translate}}
   .col-lg-6
      .panel.widget
         .row.row-table.text-center
            .col-md-2.col-sm-3.col-xs-6.bg-info.pv-xl
               em.fa-bed.fa.fa-4x
            .col-md-4.col-sm-3.col-xs-6.pv.br
               .h1.m0.text-bold.text-primary {{vm.liveinAndAccountAndBedInfo.bed.totals}}
               | {{ vm.moduleTranslatePath('BED-INFO-TOTALS') | translate}}
            .col-md-3.col-sm-3.col-xs-6.pv.br
               .h1.m0.text-bold.text-primary {{vm.liveinAndAccountAndBedInfo.bed.liveins}}
               | {{ vm.moduleTranslatePath('BED-INFO-LIVEINS') | translate}}
            .col-md-3.col-sm-3.col-xs-6.pv.br
               .h1.m0.text-bold.text-primary {{vm.liveinAndAccountAndBedInfo.bed.vacancy_rate}}%
               | {{ vm.moduleTranslatePath('BED-INFO-VACANCY_RATE') | translate}}

// END widgets 2

// START widgets 3
.row
   .col-lg-6
      .panel.widget
         div(ng-if="vm.elderlyAgeGroups_loaded",id="{{vm.elderlyAgeGroups_id}}",echarts="vm.elderlyAgeGroups_id",config="vm.elderlyAgeGroups_config",echarts-dimension="'2:1'",style="width:100%;")
   //END widgets 3
   .col-lg-6
      .panel.widget
         div(ng-if="vm.roomVacancyRateMonthly_loaded",id="{{vm.roomVacancyRateMonthly_id}}",echarts="vm.roomVacancyRateMonthly_id",config="vm.roomVacancyRateMonthly_config",echarts-dimension="'2:1'",style="width:100%;")
      // START loader widget
      //.panel.panel-default
      //   .panel-body
      //      a.text-muted.pull-right(ng-if="false",href="#"): em.fa.fa-arrow-right
      //      .text-info Average Monthly Uploads
      //      canvas.center-block(classyloader="", data-percentage="70", data-speed="20", data-font-size="40px", data-diameter="70", data-line-color="{{colorByName('info')}}", data-remaining-line-color="rgba(200,200,200,0.4)", data-line-width="10", data-rounded-line="true")
      //   .panel-footer
      //      p.text-muted
      //         em.fa.fa-upload.fa-fw
      //         span This Month
      //         span.text-dark 1000 Gb
      // END loader widget
.row
   .col-lg-6
      .panel.widget
         div(ng-if="vm.roomCatagoryOfManTime_loaded",id="{{vm.roomCatagoryOfManTime_id}}",echarts="vm.roomCatagoryOfManTime_id",config="vm.roomCatagoryOfManTime_config",echarts-dimension="'2:1.3'",style="width:100%;")
   .col-lg-6
      .panel.widget
         div(ng-if="vm.roomCatagoryOfManTimeMonthly_loaded",id="{{vm.roomCatagoryOfManTimeMonthly_id}}",echarts="vm.roomCatagoryOfManTimeMonthly_id",config="vm.roomCatagoryOfManTimeMonthly_config",echarts-dimension="'2:1.3'",style="width:100%;")