//
   Created by zppro on 16-2-23.
form.form-validate.mb-lg(role='form', name="theForm", novalidate='', ng-submit="vm.doSubmit()")
    .row
        .col-md-1.control-label {{ vm.viewTranslatePath('HEAD-LABEL-CODE') | translate}}:
        .col-md-2
            input.read-control-underline(readonly,placeholder='{{vm.viewTranslatePath("HEAD-PLACEHOLDER-CODE")|translate}}',ng-model="vm.model.code")
        .col-md-6
        .col-md-1.control-label {{ vm.viewTranslatePath('HEAD-LABEL-ENTER_ON') | translate}}:
        .col-md-2
            .input-group
                input.read-control-underline(type="text",name='validate_util',is-open="vm.openedDP[0]",datepicker-popup="",ng-model="vm.model.enter_on" ,required='',ng-click="vm.openDP($event,2,0)")
                span.input-group-btn
                    button.btn.btn-primary.btn-xs(ng-click="vm.openDP($event,2,0)")
                        i.glyphicon.glyphicon-calendar
    .row-split
    .panel
        tabset(justified="true")
            tab(active="vm.tab1.active")
                tab-heading
                    | {{ vm.viewTranslatePath('TAB1') | translate}}
                    span.text-danger(title="{{'validator.FIELD-INVALID'|translate}}" , ng-show="utils.vtab('contentTab1')")
                        i.glyphicon.glyphicon-minus-sign
                div#contentTab1
                    fieldset: .form-group
                        <!--姓名-->
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-ELDERLY-NAME') | translate}}:
                        .col-md-10
                            input.form-control(type='text', name='elderly$name',ng-model='vm.elderlyModel.name',placeholder='{{vm.viewTranslatePath("TAB1-PLACEHOLDER-ELDERLY-NAME")|translate}}' ,required='')
                            span.text-danger(ng-show="utils.vinput(this.theForm,'elderly$name','required')") {{ "validator.REQUIRED" | translate}}
                    fieldset: .form-group
                        <!--身份证号-->
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-ELDERLY-ID_NO') | translate}}:
                        .col-md-10
                            input(type='text', name='elderly$id_no',ng-model='vm.elderlyModel.id_no',required='',maxlength="18",box-input,id-no2)
                            span.text-danger(ng-show="utils.vinput(this.theForm,'elderly$id_no','required')") {{ "validator.REQUIRED" | translate}}
                            span.text-danger(ng-show="utils.vinput(this.theForm,'elderly$id_no','IDNo')") {{ "validator.ID-NO" | translate}}
                    fieldset: .form-group
                        <!--性别-->
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-ELDERLY-SEX') | translate}}:
                        .col-md-10
                            .btn-group
                                .btn.btn-primary(name='elderly$sex',ng-repeat='sex in vm.selectBinding.sex',ng-model='vm.elderlyModel.sex',btn-radio="sex.value",required='',extract-sex="vm.elderlyModel.id_no") {{sex.name}}
                            span.text-danger(ng-show="utils.vinput(this.theForm,'elderly$sex','required')") {{ "validator.REQUIRED" | translate}}
                    fieldset: .form-group
                        <!--出生日期-->
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-ELDERLY-BIRTHDAY') | translate}}:
                        .col-md-2
                            .input-group
                                input.form-control(type="text",name='elderly$birthday',is-open="vm.openedDP[1]",datepicker-popup="",ng-model="vm.elderlyModel.birthday" ,placeholder='{{vm.viewTranslatePath("TAB1-PLACEHOLDER-ELDERLY-BIRTHDAY")|translate}}',required='',ng-click="vm.openDP($event,2,1)",extract-birthday="vm.elderlyModel.id_no")
                                span.input-group-btn
                                    button.btn.btn-primary(ng-click="vm.openDP($event,2,1)")
                                        i.glyphicon.glyphicon-calendar
                            span.text-danger(ng-show="utils.vinput(this.theForm,'elderly$birthday','required')") {{ "validator.REQUIRED" | translate}}
                            span.text-danger(ng-show="utils.vinput(this.theForm,'elderly$birthday','date')") {{ "validator.DATE" | translate}}
                    fieldset: .form-group
                        <!--婚姻情况-->
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-ELDERLY-MARRIAGE') | translate}}:
                        .col-md-10
                            .btn-group
                                .btn.btn-primary(name='elderly$marriage',ng-repeat='marriage in vm.selectBinding.marriages',ng-model='vm.elderlyModel.marriage',btn-radio="marriage.value",required='') {{marriage.name}}
                            span.text-danger(ng-show="utils.vinput(this.theForm,'elderly$marriage','required')") {{ "validator.REQUIRED" | translate}}
                    fieldset: .form-group
                        <!--家庭住址-->
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-ELDERLY-HOME_ADDRESS') | translate}}:
                        .col-md-10
                            input.form-control(type='text', name='elderly$home_address',ng-model='vm.elderlyModel.home_address',placeholder='{{vm.viewTranslatePath("TAB1-PLACEHOLDER-ELDERLY-HOME_ADDRESS")|translate}}' ,required='')
                            span.text-danger(ng-show="utils.vinput(this.theForm,'elderly$home_address','required')") {{ "validator.REQUIRED" | translate}}
                    fieldset: .form-group
                        <!--医保所在地-->
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-ELDERLY-MEDICAL_INSURANCE') | translate}}:
                        .col-md-10
                            .btn-group
                                .btn.btn-primary(name='elderly$medical_insurance',ng-repeat='medical_insurance in vm.selectBinding.medical_insurances',ng-model='vm.elderlyModel.medical_insurance',btn-radio="medical_insurance.value",required='') {{medical_insurance.name}}
                            span.text-danger(ng-show="utils.vinput(this.theForm,'elderly$medical_insurance','required')") {{ "validator.REQUIRED" | translate}}
                    fieldset: .form-group
                        <!--政治面貌-->
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-ELDERLY-POLITICS_STATUS') | translate}}:
                        .col-md-10
                            .btn-group
                                .btn.btn-primary(name='elderly$politics_status',ng-repeat='politics_status in vm.selectBinding.politics_statuses',ng-model='vm.elderlyModel.politics_status',btn-radio="politics_status.value",required='') {{politics_status.name}}
                            span.text-danger(ng-show="utils.vinput(this.theForm,'elderly$politics_status','required')") {{ "validator.REQUIRED" | translate}}
                    fieldset: .form-group
                        <!--居住状况-->
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-ELDERLY-INHABIT_STATUS') | translate}}:
                        .col-md-10
                            .btn-group
                                .btn.btn-primary(name='elderly$inhabit_status',ng-repeat='inhabit_status in vm.selectBinding.inhabit_statuses',ng-model='vm.elderlyModel.inhabit_status',btn-radio="inhabit_status.value",required='') {{inhabit_status.name}}
                            span.text-danger(ng-show="utils.vinput(this.theForm,'elderly$inhabit_status','required')") {{ "validator.REQUIRED" | translate}}
                    fieldset: .form-group
                        <!--经济状况-->
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-ELDERLY-FINANCIAL_STATUS') | translate}}:
                        .col-md-10
                            .btn-group
                                .btn.btn-primary(name='elderly$financial_status',ng-repeat='financial_status in vm.selectBinding.financial_statuses',ng-model='vm.elderlyModel.financial_status',btn-radio="financial_status.value",required='') {{financial_status.name}}
                            span.text-danger(ng-show="utils.vinput(this.theForm,'elderly$financial_status','required')") {{ "validator.REQUIRED" | translate}}
                    fieldset: .form-group
                        <!--特长爱好-->
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-ELDERLY-HOBBIES') | translate}}:
                        .col-md-10
                            .tree.tree-dropdown(name='elderly$hobbies',s-tree,s-tree-data="vm.hobbiesPromise",s-tree-height="200", s-tree-template-url='tree-directive-default-renderer.html',s-tree-option="{mode:'check',layout:'dropdown'}",ng-model="vm.elderlyModel.hobbies",required='')
                            span.text-danger(ng-show="utils.vinput(this.theForm,'elderly$hobbies','required')") {{ "validator.REQUIRED" | translate}}
                    fieldset: .form-group
                        <!--过往病史-->
                        label.col-md-2.control-label {{ vm.viewTranslatePath('TAB1-LABEL-ELDERLY-MEDICAL_HISTORIES') | translate}}:
                        .col-md-10
                            .tree.tree-dropdown(name='elderly$medical_histories',s-tree,s-tree-data="vm.medical_historiesPromise",s-tree-height="200", s-tree-template-url='tree-directive-default-renderer.html',s-tree-option="{mode:'check',layout:'dropdown'}",ng-model="vm.elderlyModel.medical_histories",required='')
                            span.text-danger(ng-show="utils.vinput(this.theForm,'elderly$medical_histories','required')") {{ "validator.REQUIRED" | translate}}
                    .panel.panel-default.panel-grid
                        table.grid.table.table-bordered.table-hover.table-striped
                            thead
                                tr
                                    th.text-center(check-all,width="30")
                                        .checkbox.c-checkbox(data-toggle="tooltip",data-title="Check All")
                                            label(ng-click="vm.grid.selectAll($event)")
                                                input(type='checkbox')
                                                span.fa.fa-check
                                    th.text-center(ng-repeat="column in vm.grid.columns",width="{{column|width}}",ng-hide="column|hide",ng-click="vm.grid.sort.toggle(column)",ng-class="{sortable: column.sortable !== false}")
                                        | {{column.label}}
                                        i.glyphicon(ng-if="column.name === vm.grid.sort.column && vm.sort.direction",ng-class="vm.grid.sort.direction|orderClass")
                            tbody
                                tr(ng-repeat="row in vm.grid.rows|filter:vm.grid.filter|orderBy:vm.grid.sort.column:vm.grid.sort.direction===-1|paging:vm.grid" , ng-click="vm.grid.selectRow($event,row)",ng-dblclick="vm.grid.dblclickRow(row.id)")
                                    td
                                        .checkbox.c-checkbox
                                            label
                                                input(type='checkbox' data="trBubble" ng-model="row.checked" )
                                                span.fa.fa-check(data="trBubble")
                                    td.text-left {{::row.name}}
                                    td
                                        .btn-group
                                            a.btn.btn-primary.btn-xs(title="{{'button.EDIT'|translate}}",ng-click="vm.grid.edit(row._id)")
                                                i.glyphicon.glyphicon-pencil
                                tr(ng-if="vm.grid.paged.length==0")
                                    td(colspan="{{utils.noResultsColspan(vm)}}") {{ 'grid.NO-RESULTS' | translate}}
                        .panel-footer
                            .row
                                .col-md-4.text-left
                                    .btn-toolbar
                                        .btn-group
                                            a.btn.btn-primary.btn-sm(title="{{'button.ADD'|translate}}",ng-click="vm.grid.add()")
                                                i.glyphicon.glyphicon-plus
                                            a.btn.btn-primary.btn-sm(title="{{'button.REMOVE'|translate}}",ng-click="vm.grid.disable()")
                                                i.glyphicon.glyphicon-minus
                                .col-md-8
                                    pagination.pagination-sm.pull-right(total-items="vm.grid.page.totals",ng-model="vm.grid.page.no",max-size="5",items-per-page="vm.grid.page.size",boundary-links="true" ,ng-change="vm.grid.paging()")
            tab(active="vm.tab2.active")
                tab-heading
                    | {{ vm.viewTranslatePath('TAB2') | translate}}
                    span.text-danger(title="{{'validator.FIELD-INVALID'|translate}}" , ng-show="utils.vtab('contentTab2')")
                        i.glyphicon.glyphicon-minus-sign
                div#contentTab2
                    | tab2
            tab(active="vm.tab3.active")
                tab-heading
                    | {{ vm.viewTranslatePath('TAB3') | translate}}
                    span.text-danger(title="{{'validator.FIELD-INVALID'|translate}}" , ng-show="utils.vtab('contentTab3')")
                        i.glyphicon.glyphicon-minus-sign
                div#contentTab3
                    | tab3
            tab(active="vm.tab4.active")
                tab-heading
                    | {{ vm.viewTranslatePath('TAB4') | translate}}
                    span.text-danger(title="{{'validator.FIELD-INVALID'|translate}}" , ng-show="utils.vtab('contentTab4')")
                        i.glyphicon.glyphicon-minus-sign
                div#contentTab4
                    | tab4
    .text-right.mt-lg
        button.btn.btn-warning(type="button",ng-click="vm.cancel()") {{'button.CANCEL'|translate}}
        button.btn.btn-success(type="submit") {{'button.SAVE'|translate}}
