//
   Created by zppro on 16-2-23.

h3
   | {{ 'sidebar.menu-organization-pfta.RECEPTION-MANAGE' | translate}}

.row
   .col-xs-12.text-center
      h2.text-thin 接待管理内容1
      p 接待管理内容段1.
         br
         | 接待管理内容段2.222
