//
   Created by zppro on 16-2-23.

h3
   | {{ 'sidebar.menu-organization-pfta.LEAVE-MANAGE' | translate}}

.row
   .col-xs-12.text-center
      h2.text-thin 请假管理内容1
      p 请假管理内容段1.
         br
         | 请假管理内容段2.222
