//
   Created by zppro on 16-2-23.

h3
   | {{ 'sidebar.menu-manage-center.DICTIONARY-MANAGE' | translate}}

.row
   .col-xs-12.text-center
      h2.text-thin 入院管理内容1
      p 入院管理内容段1.
         br
         | 入院管理内容段2.222
