//
   Created by zppro on 16-2-23.
.col-xs-2(ng-if="vm.switches.leftTree")
    .tree.tree-basic#tree1(ng-style="{height:vm.size.h-15}")
        ul
            li.repeat-modify(ng-repeat='node in vm.trees[0].treeData',ng-include="'tree-basic-renderer.html'",ng-init="tIndex=0;nIndex = $index")
.text-center(ng-class='{"col-xs-10":vm.switches.leftTree,"col-xs-12":!vm.switches.leftTree}')
    .row
        form.form-search
            .input-group.pull-right.page-search
                label.input-group-addon {{'grid.LABEL-SEARACH'|translate}}
                input.form-control(type="text",ng-model="vm.filter.$")
    .row-split
    .row
        .panel.panel-default.panel-grid
            table.grid.table.table-bordered.table-hover.table-striped
                thead
                    tr
                        th.text-center(check-all,width="30")
                            .checkbox.c-checkbox(data-toggle="tooltip",data-title="Check All")
                                label(ng-click="vm.selectAll($event)")
                                    input(type='checkbox')
                                    span.fa.fa-check
                        th.text-center(ng-repeat="column in vm.columns",width="{{column|width}}",ng-hide="column|hide",ng-click="vm.sort.toggle(column)",ng-class="{sortable: column.sortable !== false}")
                            | {{column.label}}
                            i.glyphicon(ng-if="column.name === vm.sort.column && vm.sort.direction",ng-class="vm.sort.direction|orderClass")
                tbody
                    tr(ng-repeat="row in vm.rows|filter:vm.filter|orderBy:vm.sort.column:vm.sort.direction===-1|paging:vm" , ng-click="vm.selectRow($event,row)",ng-dblclick="vm.dblclickRow(row.id)")
                        td(ng-style="{'height':vm.rowHeight,'maxHeight':vm.rowHeight}")
                            .checkbox.c-checkbox
                                label
                                    input(type='checkbox' data="trBubble" ng-model="row.checked" )
                                    span.fa.fa-check(data="trBubble")
                        td.text-left(ng-hide="vm.columns[0]|hide") {{::row.tenantId|formatter:'tenantId':vm.columns}}
                        td.text-center {{::row.full_code}}
                        td.text-center {{::row.check_in_time|date:'yyyy-MM-dd HH:mm:ss'}}
                        td.text-center {{::row.success_on|date:'yyyy-MM-dd HH:mm:ss'}}
                        td.text-right {{::row.period_charge|currency}}
                        td.text-right {{::row.duration}}
                        td.text-right(ng-class="{'text-danger':row.order_status=='A1006'||row.order_status=='A1007'}") {{::row.total_charge|revertNumber:!(row.order_status=='A1006'||row.order_status=='A1007')|currency}}
                        td {{row.order_status|formatter:'order_status':vm.columns}}
                        td
                            .btn-group(ng-if="row.order_status!='A1001'")
                                a.btn.btn-primary.btn-xs(title="{{'button.READ'|translate}}",ng-click="vm.read(row._id)")
                                    i.glyphicon.glyphicon-search
                            .btn-group(ng-if="row.order_status=='A1001'")
                                a.btn.btn-primary.btn-xs(title="{{'button.EDIT'|translate}}",ng-click="vm.edit(row._id)")
                                    i.glyphicon.glyphicon-pencil
                            .btn-group(ng-if="row.order_status=='A1001'")
                                a.btn.btn-primary.btn-xs(title="{{'button.ORDER-SUBMIT'|translate}}",ng-click="vmc.submitOrder(row)")
                                    i.glyphicon.glyphicon-open
                            .btn-group(ng-if="row.order_status=='A1003'")
                                a.btn.btn-primary.btn-xs(title="{{'button.ORDER-COMPLETE'|translate}}",ng-click="vmc.completeOrder(row)")
                                    i.glyphicon.glyphicon-saved
                    tr(ng-if="vm.paged.length==0")
                        td(colspan="{{utils.noResultsColspan(vm)}}") {{ 'grid.NO-RESULTS' | translate}}
            .panel-footer
                .row
                    .col-md-4.text-left
                        .btn-toolbar
                            .btn-group
                                a.btn.btn-primary.btn-sm(title="{{'button.ADD'|translate}}",ng-click="vm.add()")
                                    i.glyphicon.glyphicon-plus
                                a.btn.btn-primary.btn-sm(title="{{'button.REMOVE'|translate}}",ng-click="vm.remove()")
                                    i.glyphicon.glyphicon-minus
                    .col-md-8
                        pagination.pagination-sm.pull-right(total-items="vm.page.totals",ng-model="vm.page.no",max-size="5",items-per-page="vm.page.size",boundary-links="true" ,ng-change="vm.paging()")