//
   Created by zppro on 16-2-23.
h3
    | {{ 'sidebar.menu-manage-center.ACCOUNT-MANAGE' | translate}}
.col-xs-12.text-center
    .panel.panel-default.panel-grid
        .panel-heading
            .row
                .col-xs-12.text-center
                    .input-group.pull-right.page-search
                        label.input-group-addon 搜索
                        input.form-control(type="text",ng-model="vm.filter.$")
        table.grid.table.table-bordered.table-hover.table-striped
            thead
                tr
                    th.col-md-1.text-center(check-all)
                        .checkbox.c-checkbox(data-toggle="tooltip",data-title="Check All")
                            label
                                input(type='checkbox')
                                span.fa.fa-check
                        th.text-center(ng-repeat="column in vm.columns",ng-if="!column.hidden",ng-click="vm.sort.toggle(column)",ng-class="{sortable: column.sortable !== false,'col-md-2':column.name=='id'}")
                            | {{column.label}}
                            i.glyphicon(ng-if="column.name === vm.sort.column && vm.sort.direction",ng-class="vm.sort.direction|orderClass")
            tbody
                tr(ng-repeat="item in vm.items|filter:vm.filter|orderBy:vm.sort.column:vm.sort.direction===-1|paging:vm as results")
                    td
                        .checkbox.c-checkbox
                            label
                                input(type='checkbox')
                                span.fa.fa-check
                        td {{item.id}}
                        td
                            span(ng-if="!item.$editing") {{item.name}}
                        td.text-right
                            span(ng-if="!item.$editing") {{item.followers|number}}
                        td.text-right
                            span(ng-if="!item.$editing") {{item.income|currency}}
                        td
                            span.btn.btn-primary.btn-xs(title="详情",ng-mouseenter="item.popover=true",ng-mouseleave="item.popover=false")
                                i.glyphicon.glyphicon-comment
                            .relative
                                .popover(ng-style="{display: item.popover?'block':'none'}")
                                    .popover-title {{item.id}} - {{item.name}}
                                    .popover-content
                                        | 粉丝：{{item.followers|number}}<br/>
                                        | 生日：{{item.birthday|date}}<br/>
                                        | 年龄：{{vm.age(item.birthday)}}岁<br/>
                                        | 收入：{{item.income|currency}}
        .panel-footer(ng-if="results.length>0")
            .row
                .col-md-4.text-left
                    .btn-toolbar
                        .btn-group
                            span.btn.btn-primary.btn-sm(title="新增",ng-click="")
                                i.glyphicon.glyphicon-plus
                            span.btn.btn-primary.btn-sm(title="编辑",ng-click="")
                                i.glyphicon.glyphicon-pencil
                            span.btn.btn-primary.btn-sm(title="删除",ng-click="")
                                i.glyphicon.glyphicon-minus
                .col-md-8
                    pagination.pagination-sm.pull-right(total-items="vm.items|filter:vm.filter|totals",ng-model="vm.page.no",max-size="10",items-per-page="vm.page.size",boundary-links="true")